doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header#banner
        h1 Awesome Chat
    block content
    footer Hope you enjoy your stay here